<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link rel="stylesheet" href="/estilo.css" />
  <meta charset="UTF-8" />
  <title>Inicial</title>
</head>
<body>
  <h1>Seja bem-vindo, <%= usuario.nome %>!</h1>
  <a href="/sair">Sair</a>
</body>
</html>
