<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/estilo.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicil</title>
  </head>
  <body>
    <h1>Seja bem vindo <%= usuario.nome%></h1>
    <a href="sair">sair</a>
  </body>
</html>
