* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/21301.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#formulario {
  background-color: rgb(83, 81, 81);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 490px;
  height: 390px;
  margin: 0 auto;
  border-radius: 15px;
}
#formulario input {
  margin-top: 15px;
  width: 300px;
  height: 35px;
  border-radius: 12px;
  padding-left: 5px;
  border: none;
  transition: 0.5s ease;
}
#formulario input[type="text"]:focus,
input[type="password"]:focus {
  background-color: rgb(55, 51, 51);
  color: rgb(202, 202, 202);
  border: none;
  outline: none;
}
#formulario label {
  border: 3px solid aqua;
  margin-right: 260px;
}
#formulario label[for="senha"] {
  margin-top: 10px;
}#formulario input[type="submit"]:hover{
    cursor: pointer;
    transform: scale(0.9);
}